# Python
__pycache__
*.pyc
*.egg-info
dist
venv/
.venv/

# Log
*.log
*.log.*


# Data
!**/alpaca-data-conversation.json
ann/*.jsonl
data/nucaption_*.json
data/nuscenesqa_*.json

# Editor
.idea
*.swp

# Other
.DS_Store
wordnet/
output/
params_weight/

wandb/

checkpoints/
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
